[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
psycopg2-binary = "*"
pgvector = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
