[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
yandexcloud = "*"
psycopg2-binary = "*"
pgvector = "*"
sentence-transformers = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
